<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Hare programming language blog</title>
  <link rel="icon" type="image/png" href="/mascot.png">
  <meta property="og:image" content="https://harelang.org/mascot.png">
  {{ $style := resources.Get "main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
{{ partial "nav.html" }}
<main>
  <h2>The Hare programming language blog</h2>
  <p><a href="index.xml">RSS feed</a></p>
  {{ range .Data.Pages }}
  <div class="stub">
    <h2>
      <a href="{{.Permalink}}">
        {{.Title}}
      </a>
    </h2>
    <small>
      {{.Date.Format "January 2, 2006"}}
      by {{.Params.author}}
    </small>
  </div>
  {{ end }}
</main>
{{ partial "footer.html" }}
