<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}}</title>
  {{ $style := resources.Get "main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
{{ partial "nav.html" }}
<main class="code-tutorial">
  <h2>{{.Title}}</h2>
  {{.Summary}}

  <details>
    <summary>Table of contents</summary>
    {{ $n := 0 }}
    <nav id="TableOfContents">
      <ol>
        {{ range .Params.sections }}
        {{ if .section }}

        {{ if eq $n 1 }}
        {{ $n = 0 }}
        </ol>
        {{ end }}

        {{ $n = 1 }}
        <li>
          <a href="#{{ .section | anchorize }}">{{ .section }}</a>
          <ol>

        {{ else }}
        <li>
          <a href="#{{ .title | anchorize }}">{{ .title }}</a>
        </li>
        {{ end }}

        {{ end }}

        {{ if ne $n 0 }}
        {{ $n = 0 }}
        </ol>
        {{ end }}
      </ol>
    </nav>
  </details>

  {{ range .Params.sections }}
  {{ if .section }}
  <h2 id="{{ .section | anchorize }}">{{.section}}</h2>
  {{ else }}
  <section>
    <h3 id="{{ .title | anchorize }}">{{.title}}</h3>
    {{ if .sample }}
    {{ highlight .sample "hare" "" }}
    {{ end }}
    {{ if .htmlsample }}
    <div class="highlight htmlsample">
      {{ .htmlsample | markdownify }}
    </div>
    {{ end }}
    <div class="details">
      {{ .details | markdownify }}
    </div>
  </section>
  {{ end }}
  {{ end }}

  <div class="content">
    {{.Content}}
  </div>
</main>
