<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}}</title>
  {{ $style := resources.Get "main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
{{ partial "nav.html" }}
<main class="code-tutorial">
  <h2>{{.Title}}</h2>
  {{.Summary}}
  {{.TableOfContents}}
  {{ range .Params.sections }}
  <section>
    <h2>{{.title}}</h2>
    {{ highlight .sample "hare" "" }}
    <div class="details">
      {{ .details | markdownify }}
    </div>
  </section>
  {{ end }}
</main>
