<nav>
  <img
    src="https://l.sr.ht/ibDr.jpg"
    alt="An inked drawing of the Hare mascot, a fuzzy rabbit"
    width="128" height="128" />
  <h1>The Hare programming language</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#TODO">Documentation</a></li>
    <li><a href="#TODO">Installation</a></li>
    <li><a href="#TODO">Tutorial</a></li>
    <li><a href="#TODO">Community</a></li>
    <li><a href="https://sr.ht/~sircmpwn/hare">Source code</a></li>
    <li><a href="#TODO">Specification</a></li>
  </ul>
</nav>
